<div class="container alta-lista-container">

    <span class="back-button">
      <a href="/panel"><i class="fa fa-chevron-left"></i> Volver</a>
    </span>
    <div class="col-md-2 col-sm-2"></div>

    <div class="col-md-12 col-sm-4" ng-if="preciosArray.length">
        <h3 class="center-title">Pedido <span class="label" ng-class="{'label-success': pedido.Estado == 1, 'label-warning': pedido.Estado == 2, 'label-danger': pedido.Estado == 0}">{{getEstado(pedido.Estado)}}</span></h3>
        <table class="table" >
            <thead>
                <tr>
                    <th>Nombre Producto</th>
                    <th>Nombre Codigo</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Fecha Actualización</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="precio in preciosArray | orderBy: 'Fecha':false" ng-if="preciosArray.length">
                    <td>{{precio.Producto.Nombre}}</td>
                    <td>{{precio.Producto.Codigo}}</td>
                    <td>$ {{precio.Precio.Precio}}</td>
                    <td>{{pedidoPrecioObj[precio.Precio.Id]}}</td>
                    <td>{{formatDate(precio.Precio.FechaActualizacion)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-sm-4" ng-show="!pedidosArray.length && !loading">
        <div class="alert alert-danger" style="text-align: center;" role="alert">
          <p>Usted no posee ningún pedido activo.</p>
        </div>
    </div>
</div>
