<div class="container alta-comercio-container">
    <div class="col-md-3 col-sm-3"></div>
    <div class="card card-container comercio-container col-md-6 col-sm-6">
        <h3 class="center-title">Ingresar datos del comercio</h3>
        <form class="form-action" ng-hide="actionSuccess" name="newComercioForm" novalidate>
            <input type="text"
                   class="form-control inputName"
                   name="comercioName"
                   maxlength="50"
                   placeholder="Nombre del comercio (*)"
                   ng-class="{ 'has-error' : newComercioForm.comercioName.$invalid && !newComercioForm.comercioName.$pristine }"
                   ng-model="dataValues.comercioName"
                   ng-pattern="/^(\D)+$/"
                   required autofocus>
            <p ng-show="newProveedorForm.proveedorContactName.$error.pattern" class="help-block-error">Por favor ingrese un nombre valido.</p>

            <input type="email"
                  class="form-control inputEmail"
                  name="comercioEmail"
                  maxlength="50"
                  placeholder="Email del comercio"
                  ng-class="{ 'has-error' : newComercioForm.comercioEmail.$invalid && !newComercioForm.comercioEmail.$pristine }"
                  ng-model="dataValues.comercioEmail">
            <p ng-show="newComercioForm.comercioEmail.$invalid && !newComercioForm.comercioEmail.$pristine" class="help-block-error">Ingrese un email valido.</p>

            <input type="text"
                  class="form-control inputName"
                  name="comercioRazonSocial"
                  placeholder="Razón social del comercio"
                  maxlength="50"
                  ng-model="dataValues.comercioRazonSocial">

            <input type="text"
                  class="form-control inputName"
                  name="comercioCuitCuil"
                  maxlength="13"
                  placeholder="CUIT/CUIL"
                  ng-change="cuitCuilHasChange = true"
                  ng-class="{ 'has-error' : (newComercioForm.comercioCuitCuil.$invalid && !newComercioForm.comercioCuitCuil.$pristine) || (!validarCuitCuil(dataValues.comercioCuitCuil) && cuitCuilHasChange)}"
                  ng-model="dataValues.comercioCuitCuil">
            <p ng-show="(newComercioForm.comercioCuitCuil.$invalid && !newComercioForm.comercioCuitCuil.$pristine) || (!validarCuitCuil(dataValues.comercioCuitCuil) && cuitCuilHasChange)" class="help-block-error">Ingrese un CUIT/CUIL valido.</p>

            <input type="text"
                  class="form-control inputName"
                  name="comercioDireccion"
                  maxlength="50"
                  placeholder="Dirección del comercio (*)"
                  ng-class="{ 'has-error' : newComercioForm.comercioDireccion.$invalid && !newComercioForm.comercioDireccion.$pristine }"
                  ng-model="dataValues.comercioDireccion"
                  required>

            <input type="text"
                  class="form-control inputName"
                  name="comercioTelefono"
                  maxlength="40"
                  placeholder="Teléfono del comercio"
                  ng-change="telefonoHasChange = true"
                  ng-class="{ 'has-error' : newComercioForm.comercioTelefono.$invalid && !newComercioForm.comercioTelefono.$pristine || (!validarTelefono(dataValues.comercioTelefono) && telefonoHasChange)}"
                  ng-model="dataValues.comercioTelefono">
            <p ng-show="(newComercioForm.comercioTelefono.$invalid && !newComercioForm.comercioTelefono.$pristine) || (!validarTelefono(dataValues.comercioTelefono) && telefonoHasChange)" class="help-block-error">Ingrese un formato de telefono valido valido. Ejemplo: (11) 6534 4535</p>

            <button class="btn btn-lg btn-primary btn-block btn-action"
                    type="submit"
                    ng-disabled="newComercioForm.$invalid || (!validarCuitCuil(dataValues.comercioCuitCuil) && cuitCuilHasChange) || (!validarTelefono(dataValues.comercioTelefono) && telefonoHasChange)"
                    ng-click="createComercio(dataValues)">Guardar</button>
        </form>
        <div ng-show="actionError" class="alert alert-danger" role="alert">
          <p ng-bind="responseMessage || 'Oops! Ocurrió al momento de modificar los datos del comercio. Por favor pongase en contacto con un administrador.'"></p>
        </div>
        <div ng-show="actionSuccess" class="alert alert-success" role="alert">
          <p>Los datos del comercios fueron guardados exitosamente. <a href="/perfil" class="alert-link">Desea volver al pefil</a>?</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-3"></div>
</div>
