<div class="container panel-container">
    <div class="row col-md-12 col-lg-12">
        <div class="col-md-2 col-lg-2"></div>
        <div class="list-group col-md-8 col-lg-8">
            <h3 class="text-center">Panel de Control</h3>
            <div class="list-group-item" ng-repeat="section in panelSectionList">
                <h4 class="list-group-item-heading">{{section.sectionName}}</h4>
                <p class="list-group-item-text">{{section.sectionDescription}}</p>
                <div class="alert alert-warning aviso" role="alert" ng-if="section.needWarnig && !userData.entityData">
                    <span class="label label-warning">Aviso</span>
                    {{section.warningMessage(userData.userType)}}
                    </br><a href="/perfil">Ir a Mi Perfil</a>
                </div>
                <ul class="nav nav-pills nav-stacked" ng-if="validateEntity(section.validate)">
                    <li ng-repeat="action in section.actions">
                        <a href="{{action.sectionPath}}" class="list-group-item-text">
                          <h4 class="list-group-item-heading">{{action.sectionName}} <i class="fa fa-chevron-right"></i></h4>
                          <p class="list-group-item-text action-description hidden-xs">{{action.sectionDescription}} <span class="label label-success" ng-if="action.isBeta">Beta</span></p>
                        </a>
                    </li>
                </ul>
              </div>
          </div>
        <div class="col-md-2 col-lg-2"></div>
    </div>
</div>
