.panel-container {
    .nav-pills.nav-stacked {
        margin-top: 10px;

        .action-description {
            font-size: 12px;
        }

        .fa-chevron-right {
            vertical-align: middle;
            float: right;
        }
    }

    .alert.aviso {
      margin-top: 10px !important;
    }
}

.container {
    &.panel-productos-container,
    &.alta-lista-container,
    &.panel-ingreso-container,
    &.panel-listas-container {
        .back-button {
            float: left;
            font-size: 17px;

            a {
              text-decoration: none;
            }
        }
    }

    &.panel-listas-container {
        .action-buttons {
            span {
                padding: 1px;
                display: inline-block;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}
