<div class="container panel-ingreso-container">
    <div class="row">
        <span class="back-button">
          <a href="/panel"><i class="fa fa-chevron-left"></i> Volver</a>
        </span>
    </div>

    <div class="col-md-12 col-sm-4" ng-show="movimientos.length">
        <h3 class="center-title">Movimientos</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Fecha y Hora</th>
                    <th>Producto</th>
                    <th>Código</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="movimiento in movimientos | orderBy: 'Fecha':false">
                  <td>
                      <span class="label" ng-class="{'label-success': movimiento.Tipo == 1, 'label-warning': movimiento.Tipo == 2}">{{movimiento.Tipo == 1 ? 'Ingreso' : 'Egreso'}}</span>
                  </td>
                  <td>{{movimiento.Fecha}}</td>
                  <td>{{movimiento.Producto.Nombre}}</td>
                  <td>{{movimiento.Producto.Codigo}}</td>
                  <td>{{movimiento.Cantidad}}</td>
                  <td>{{ movimiento.Tipo == 1 ? movimiento.Precio : ''}}</td>
              </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12 col-sm-4" ng-show="movimientos.length == 0 && !loading">
        <h3 class="center-title">Stock</h3>
        <div class="alert alert-danger" role="alert">
            Actualmente usted no posee ningún movimiento en su cuenta.
            Desea <a href="/ingreso">generar un ingreso</a>?
        </div>
    </div>

    <div class="col-md-2 col-sm-4"></div>
</div>
