<div class="container alta-pedidos-container">

    <div class="col-md-2 col-sm-2"></div>

    <div class="col-md-12 col-sm-4" ng-show="!actionSuccess">
        <h3 class="center-title">{{listaPreciosData.Nombre}}</h3>
        <div class="panel panel-primary" ng-show="pedidoActual.preciosArray.length">
            <div class="panel-heading">
                <h3 class="panel-title">Resumen pedido a realizar</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Nombre Producto</th>
                          <th>Precio</th>
                          <th>Código</th>
                          <th>Cantidad</th>
                          <th>Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="p in pedidoActual.preciosArray">
                          <td>{{p.Producto.Nombre}}</td>
                          <td>$ {{p.Precio.Precio}}</td>
                          <td>{{p.Producto.Codigo}}</td>
                          <td>{{p.Cantidad}}</td>
                          <td>
                            <button class="btn btn-lg btn-primary btn-block btn-action"
                                    type="submit"
                                    ng-click="removeFromPedido(p)">Eliminar</button>
                          </td>
                      </tr>
                  </tbody>
                  <tfooot>
                    <tr>
                        <td>Total</td>
                        <td><strong>$ {{pedidoActual.total}}</strong></td>
                    </tr>
                  </tfooot>
                </table>

                <div class="col-md-4">
                    <div class="row text-center">
                        <textarea class="form-control"
                                  ng-model="pedidoActual.pedidoComment"
                                  rows="2"
                                  placeholder="Comentario adicional"></textarea>
                    </div>
                </div>

                <div class="col-md-8" ng-if="pedidoActual.preciosArray.length">
                    <div class="row text-center">
                        <a href="#" class="btn btn-default crear-comercio" ng-click="createPedido()" style="cursor:pointer;">
                            Enviar pedido <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre Producto</th>
                    <th>Precio</th>
                    <th>Código</th>
                    <th>Pedido</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="precio in preciosArray" ng-if="preciosArray.length">
                    <td>{{precio.Producto.Nombre}}</td>
                    <td>$ {{precio.Precio.Precio}}</td>
                    <td>{{precio.Producto.Codigo}}</td>
                    <td style="width: 30%;">
                      <form class="form-action" name="newPedidoForm" novalidate>
                        <input type="number"
                                class="form-control"
                                ng-model="dataListaValues[precio.PrecioId].Cantidad"
                                name="cantidad{{precio.PrecioId}}"
                                placeholder="Cantidad a pedir"
                                ng-class="{ 'has-error' : newPedidoForm.cantidad{{precio.PrecioId}}.$error.pattern }"
                                ng-pattern="/^[0-9]{1,10}$/">
                        <button class="btn btn-lg btn-primary btn-block btn-action"
                                type="submit"
                                ng-disabled="!dataListaValues[precio.PrecioId].Cantidad"
                                ng-click="addPrecio(precio)">Agregar al pedido</button>

                        <p ng-show="newPedidoForm.cantidad{{precio.PrecioId}}.$error.pattern" class="help-block-error">Por favor ingrese un número entero.</p>

                      </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-sm-4" ng-show="!preciosArray.length && !loading">
        <div class="alert alert-danger" style="text-align: center;" role="alert">
          <p>Esta lista no posee precios de productos hasta el momento.</p>
        </div>
    </div>
    <div class="col-md-12 col-sm-4" ng-show="actionSuccess">
        <div class="alert alert-success" style="text-align: center;" role="alert">
          <p>El pedido ha sido enviado. <br> <a href="/pedidos-comerciante" class="alert-link">Desea ver todos sus pedidos?</a>?</p>
        </div>
    </div>

    <div class="col-md-12 col-sm-4" ng-show="actionError">
        <div class="alert alert-success" style="text-align: center;" role="alert">
          <p>Ha ocurrido un error al momento de crear el pedido. Por favor pongase en contacto con un administrador.</p>
        </div>
    </div>
</div>
