<div class="container alta-lista-container">

    <span class="back-button">
      <a href="/panel"><i class="fa fa-chevron-left"></i> Volver</a>
    </span>
    <div class="col-md-2 col-sm-2"></div>

    <div class="col-md-12 col-sm-4" ng-if="pedidosArray.length">
        <h3 class="center-title">Pedidos realizados</h3>
        <table class="table" >
            <thead>
                <tr>
                    <th>Estado</th>
                    <!-- <th>Proveedor</th> -->
                    <th>Fecha Creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pedido in pedidosArray | orderBy: 'Pedido.FechaCreacion':false">
                    <td>
                      <span class="label" ng-class="{'label-success': pedido.Pedido.Estado == 1, 'label-warning': pedido.Pedido.Estado == 2, 'label-danger': pedido.Pedido.Estado == 0}">{{getEstado(pedido.Pedido.Estado)}}</span>
                    </td>
                    <!-- <td><a href="/proveedor/1">Proveedor</a></td> -->
                    <td>{{formatDateTime(pedido.Pedido.FechaCreacion)}}</td>
                    <td class="action-buttons">
                      <span>
                          <a href="pedido/{{pedido.Pedido.Id}}"><i class="fa fa-pencil-square-o fa-lg"></i> Ver</a>
                      </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-sm-4" ng-show="!pedidosArray.length && !loading">
        <div class="alert alert-danger" style="text-align: center;" role="alert">
          <p>Usted no posee ningún pedido activo.</p>
        </div>
    </div>
</div>
