.alta-pedidos-container {
    form.form-action {
        .btn-action, input {
          display: inline-block;
        }

        input {
          width: 45%;
        }

        p {
          width: 40%;
        }
        .btn-action {
            width: 48%;
        }

        .btn-action {
            vertical-align: bottom;
        }
    }
}
