$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.no-padding {
    padding: 0 !important;
}
.center-title {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

.has-error {
    border: 1px solid #FF2F2F !important;
    box-shadow: none;
}

.help-block-error {
  color: #FF2F2F;
}

.help-block-success {
  color: #3c763d;
}

// Manual import
@import '../assets/scss/_common.scss';

// Component styles are injected through grunt
// injector
@import 'login/login.scss';
@import 'main/main.scss';
@import 'panel/comercio-pedidos/pedidos.scss';
@import 'panel/listas/listas.scss';
@import 'panel/panel.scss';
@import 'panel/stock/stock.scss';
@import 'perfil/perfil.scss';
@import 'register/register.scss';
@import 'navbar/navbar.scss';
// endinjector
