<div class="container panel-productos-container">
    <span class="back-button">
      <a href="/panel"><i class="fa fa-chevron-left"></i> Volver</a>
    </span>
    <div class="col-md-4 col-sm-2"></div>
    <div class="card card-container product-container col-md-4 col-sm-8">
        <h3 class="center-title">Crear Producto</h3>
        <form class="form-action" ng-hide="actionSuccess" name="newProductForm" novalidate>
            <input type="text"
                   class="form-control inputName"
                   name="productName"
                   placeholder="Nombre del producto"
                   ng-class="{ 'has-error' : newProductForm.productName.$invalid && !newProductForm.productName.$pristine }"
                   ng-model="dataValues.productName"
                   required autofocus>

            <input type="text"
                  class="form-control inputName"
                  name="productDescription"
                  placeholder="Descripción del producto"
                  ng-class="{ 'has-error' : newProductForm.productDescription.$invalid && !newProductForm.productDescription.$pristine }"
                  ng-model="dataValues.productDescription"
                  required>

            <input type="text"
                  class="form-control inputName"
                  name="productCode"
                  placeholder="Código del producto"
                  ng-class="{ 'has-error' : newProductForm.productCode.$invalid && !newProductForm.productCode.$pristine }"
                  ng-model="dataValues.productCode"
                  required>

            <button class="btn btn-lg btn-primary btn-block btn-action"
                    type="submit"
                    ng-disabled="newProductForm.$invalid"
                    ng-click="createProduct(dataValues)">Crear</button>
        </form>
        <div ng-show="actionError" class="alert alert-danger" role="alert">
          <p ng-bind="responseMessage || 'Oops! Ocurrió al momento de crear el producto. Por favor pongase en contacto con un administrador.'"></p>
        </div>
        <div ng-show="actionSuccess" class="alert alert-success" role="alert">
          <p>El producto ha sido creado Correctamente. <a href="#" ng-click="reloadPage()" class="alert-link">Crear un producto nuevo</a>?</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-2"></div>
</div>
