<div class="container panel-productos-container">
    <span class="back-button">
      <a href="/panel"><i class="fa fa-chevron-left"></i> Volver</a>
    </span>
    <div class="col-md-1 col-sm-1"></div>
    <div class="card card-container product-container col-md-10 col-sm-10">
        <h3 class="center-title">Productos existentes (Base de datos General)</h3>

        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Código</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in productsList">
                        <td>{{product.Nombre}}</td>
                        <td>{{product.Descripcion}}</td>
                        <td>{{product.Codigo}}</td>
                      </tr>
                </tbody>
            </table>
        </div>
    <div class="col-md-1 col-sm-1"></div>
</div>
