<div class="container alta-lista-container">

    <div class="col-md-2 col-sm-2"></div>

    <div class="col-md-12 col-sm-4" ng-if="preciosArray.length">
        <h3 class="center-title">{{listaPreciosData.Nombre}}</h3>
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">Nombre: {{proveedorData.NombreContacto}}</h3>
              </div>
              <div class="panel-body">
                  <div class="col-md-3">
                      <label>Email: </label>
                      <p>{{proveedorData.Email}}</p>
                  </div>
                  <div class="col-md-3">
                      <label>Preferencia de Pago:: </label>
                      <p>{{getPreferenciaPago(proveedorData.PreferenciaPago)}}</p>
                  </div>
                  <div class="col-md-3">
                      <label>Pedido minimo:</label>
                      <p>$ {{proveedorData.PedidoMinimo}}</p>
                  </div>
                  <div class="col-md-3">
                      <label>Teléfono:</label>
                      <p>{{proveedorData.Telefono}}</p>
                  </div>
              </div>
          </div>
        <table class="table" >
            <thead>
                <tr>
                    <th>Nombre Producto</th>
                    <th>Precio</th>
                    <th>Código</th>
                    <th>Fecha Actualización</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="precio in preciosArray | orderBy: 'Fecha':false" ng-if="preciosArray.length">
                    <td>{{precio.Producto.Nombre}}</td>
                    <td>$ {{precio.Precio.Precio}}</td>
                    <td>{{precio.Producto.Codigo}}</td>
                    <td>{{formatDate(precio.Precio.FechaActualizacion)}}</td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12" ng-if="userData.entityData && userData.userType == 1">
            <div class="row text-center">
                <a href="/alta-pedido/{{listaId}}" class="btn btn-default crear-comercio" style="cursor:pointer;">
                    Realizar pedido <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-4" ng-if="!preciosArray.length && !loading">
        <div class="alert alert-danger" style="text-align: center;" role="alert">
          <p>Esta lista no posee precios de productos hasta el momento.</p>
        </div>
    </div>
</div>
