<div class="navbar navbar-default navbar-static-top navbar-container" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">cp</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-class="{active: isActive('/panel')}" ng-if="isLogged">
            <a ng-href="/panel" class="mi-panel">
              <i class="fa fa-cog fa-lg"></i> Mi Panel
            </a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right login-register-buttons" ng-if="!isLogged">
        <li ng-class="{active: isActive('/login')}">
            <a href="/login" class="login">
              <i class="fa fa-sign-in fa-lg"></i> Login
            </a>
        </li>
        <li ng-class="{active: isActive('/register')}">
            <a href="/register">
              <i class="fa fa-user-plus fa-lg"></i> Registrarse
            </a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right login-register-buttons" ng-if="isLogged">
        <li>
            <a href="#" ng-click="logout()" class="login">
              <i class="fa fa-sign-out fa-lg"></i> Logout
            </a>
        </li>
        <li>
            <a href="/perfil">
              <i class="fa fa-user fa-lg"></i> {{userData.fullName}}
            </a>
        </li>
      </ul>
    </div>
  </div>
</div>
