.navbar-container {
    ul.login-register-buttons {
        li {
            display: inline-flex;
            a.login {
                border-right: 1px solid #E0D7D7;
            }
        }
    }

    a.mi-panel {
        border-left: 1px solid #E0D7D7;
    }
}
