<div class="container">
    <h3 class="center-title">Registrarse</h3>
    <div class="col-md-3 col-sm-3"></div>
    <div class="card card-container register-container col-md-6 col-sm-6">
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" ng-hide="registerSuccess" name="registerForm" novalidate>
            <input type="text"
                   class="form-control inputName"
                   name="fullName"
                   placeholder="Nombre completo"
                   ng-class="{ 'has-error' : registerForm.fullName.$invalid && !registerForm.fullName.$pristine }"
                   ng-model="dataValues.fullName"
                   required autofocus>
            <input type="email"
                   class="form-control inputEmail"
                   name="email"
                   ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine }"
                   placeholder="Email"
                   ng-model="dataValues.email"
                   required>
            <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block-error">Ingrese un email valido.</p>

            <input type="password"
                  class="form-control inputPassword"
                  placeholder="Password"
                  name="password"
                  minlength="6"
                  ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }"
                  ng-model="dataValues.password"
                  required>
            <p ng-show="registerForm.password.$invalid && !registerForm.password.$pristine" class="help-block-error">La contraseña debe tener al menos menos 6 caracteres.</p>

            <select ng-model="dataValues.userType"
                    ng-init="dataValues.userType = '0'"
                    ng-change="hasChange = true"
                    name="userType"
                    ng-class="{ 'has-error' : dataValues.userType == 0 && hasChange}"
                    class="form-control inputUserType"
                    required>
                <option value="0" ng-selected="true">Seleccionar</option>
                <option value="1">Comerciante</option>
                <option value="2">Proveedor</option>
            </select>
            <label for="inputUserType" class="user-type">Es usted un <strong>Comerciante</strong> o un <strong>Proveedor</strong>?</label>

            <button class="btn btn-lg btn-primary btn-block btn-signin"
                    type="submit"
                    ng-disabled="registerForm.$invalid || dataValues.userType == 0"
                    ng-click="register(dataValues)">Registrarme</button>
        </form>
        <div ng-show="registerError" class="alert alert-danger" role="alert">
          <p ng-bind="responseMessage || 'Oops! Ocurrió al momento de registrarse. Por favor pongase en contacto con un administrador.'"></p>
        </div>
        <div ng-show="registerSuccess" class="alert alert-success" role="alert">
          <p>Su cuenta fue registrada exitosamente. Por favor <a href="/login" class="alert-link">inicie sesión</a> para activarla.</p>
        </div>
        <!-- <a href="#" class="forgot-password">
            Olvidaste tu password?
        </a> -->
    </div>
    <div class="col-md-3 col-sm-3"></div>
</div>
