.register-container {
    form.form-signin {
        select.inputUserType {
            width: 48%;
            display: inline-block;
        }

        label.user-type {
            font-size: 13px;
            font-weight: normal;
            display: inline-block;
            vertical-align: middle;
            width: 50%;
        }
    }
}
