<div class="container panel-ingreso-container" ng-show="hasEntity">
    <span class="back-button">
      <a href="/panel"><i class="fa fa-chevron-left"></i> Volver</a>
    </span>
    <div class="card card-container product-container col-md-5 col-sm-8">
        <h3 class="center-title">Generar Egreso</h3>
        <form class="form-action" ng-hide="actionSuccess" name="newEgresoForm" novalidate>
            <input type="text"
                  class="form-control inputName"
                  name="productName"
                  placeholder="Buscar producto por Nombre o Código"
                  ng-class="{ 'has-error' : newEgresoForm.productName.$invalid && !newEgresoForm.productName.$pristine }"
                  ng-model="dataValues.productName.$"
                  ng-hide="productSelected"
                  required>

            <div class="product-info" ng-show="productSelected">
                <span class="prod-label-name">{{productObjSelected.Nombre}}</span>
                <span class="prod-label-code">{{productObjSelected.Codigo}}</span>
                <span class="delete-selected" ng-click="deleteSelected()">
                    <i class="fa fa-times fa-lg"></i>
                </span>
            </div>

            <input type="number"
                  class="form-control inputName"
                  name="egresoProductQty"
                  placeholder="Cantidad"
                  ng-model="dataValues.egresoProductQty"
                  ng-class="{ 'has-error' : newEgresoForm.egresoProductQty.$error.pattern || dataValues.egresoProductQty > productsObject[productObjSelected.Id].Cantidad || dataValues.egresoProductQty == 0}"
                  ng-pattern="/^[0-9]{1,10}$/"
                  required>
            <p ng-show="newEgresoForm.egresoProductQty.$error.pattern" class="help-block-error">Por favor ingrese un número entero de no más de 10 cifras.</p>
            <p ng-show="dataValues.egresoProductQty > productsObject[productObjSelected.Id].Cantidad" class="help-block-error">La cantidad del egreso no puede ser mayor a {{productObjSelected.Cantidad}}.</p>
            <p ng-show="dataValues.egresoProductQty == 0" class="help-block-error">La cantidad debe ser mayor a cero (0).</p>

            <!-- <input type="number"
                  class="form-control inputName"
                  name="ingresoProductPrice"
                  placeholder="Precio del producto"
                  ng-class="{ 'has-error' : newEgresoForm.ingresoProductPrice.$invalid && !newEgresoForm.ingresoProductPrice.$pristine }"
                  ng-model="dataValues.ingresoProductPrice"
                  required> -->

            <button class="btn btn-lg btn-primary btn-block btn-action"
                    type="submit"
                    ng-disabled="newEgresoForm.$invalid || !productSelected || dataValues.egresoProductQty > productsObject[productObjSelected.Id].Cantidad || newEgresoForm.egresoProductQty.$error.pattern || dataValues.egresoProductQty == 0"
                    ng-click="createEgreso(dataValues)">Crear</button>
        </form>
        <div ng-show="actionError" class="alert alert-danger" role="alert">
          <p ng-bind="responseMessage || 'Oops! Ocurrió al momento de crear el producto. Por favor pongase en contacto con un administrador.'"></p>
        </div>
        <div ng-show="actionSuccess" class="alert alert-success" role="alert">
          <p>El ingreso ha sido creado Correctamente.<br> <a href="#" ng-click="reloadPage()" class="alert-link">Crear un ingreso nuevo</a>?</p>
        </div>
    </div>
    <div class="col-md-6 col-sm-4" ng-show="dataValues.productName.$.length > 1 && !productSelected">
        <h4 class="center-title">Seleccionar producto</h4>
        <ul class="list-group product-result-list egreso">
            <li class="list-group-item product-line">
                <span class="property-col-1 head-product-col">Nombre</span>
                <span class="property-col-2 head-product-col">Codigo</span>
                <span class="property-col-3 head-product-col">Cantidad</span>
            </li>
            <li class="list-group-item product-line" ng-repeat="product in productsArray | filter:dataValues.productName"
                ng-click="selectProduct(product)">
                <span class="property-col-1">{{product.Nombre}}</span>
                <span class="property-col-2">{{product.Codigo}}</span>
                <span class="property-col-2">{{product.Cantidad}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="container panel-ingreso-container" ng-show="!hasEntity">
    <span class="back-button">
      <a href="/panel"><i class="fa fa-chevron-left"></i> Volver</a>
    </span>
    <div class="col-md-2 col-sm-4"></div>
    <div class="col-md-8 col-sm-4">
        <div class="alert alert-danger" role="alert">
            Por favor ingrese los datos del {{userData.userType == 1 ? 'comercio' : 'proveedor'}} para comenzar a operar con el stock.
            Ir a <a href="/perfil">Mi perfil</a>
        </div>
    </div>
    <div class="col-md-2 col-sm-4"></div>
</div>
