<div ng-include="'components/partials/header.html'"></div>

<div class="container">
    <div class="row">
          <div class="col-md-12 col-sm-12" ng-show="listasArray.length">
              <h2 class="center-title" style="margin-top: 20px;">Listas de precios</h2>
              <table class="table">
                  <thead>
                      <tr>
                          <th>Lista nombre</th>
                          <th>Proveedor</th>
                          <th>Fecha creación</th>
                          <th>Fecha Vencimiento</th>
                          <th>Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="lista in listasArray | orderBy: 'FechaCreacion':false">
                      <td>{{lista.ListaPrecios.Nombre}}</td>
                      <td><a href="/proveedor/{{lista.Proveedor.Id}}">{{lista.Proveedor.NombreContacto}}</a></td>
                      <td>{{formatDate(lista.ListaPrecios.FechaCreacion)}}</td>
                      <td>{{formatDate(lista.ListaPrecios.FechaVencimiento)}}</td>
                      <td class="action-buttons">
                        <span>
                            <a href="lista/{{lista.ListaPreciosId}}"><i class="fa fa-pencil-square-o fa-lg"></i> Ver</a>
                        </span>
                      </td>
                    </tr>
                  </tbody>
              </table>
          </div>
    </div>
</div>
