<div class="container perfil-container">
    <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8">
            <h1 class="page-header">Perfil <span class="label label-success">{{userData.userTypeString}}</span></h1>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <label>Nombre:</label><span class="perfil-data">{{userData.fullName}}</span>
                </li>
                <li class="list-group-item list-group-item-info">
                    <label>Usuario/Email:</label><span class="perfil-data">{{userData.userName}}</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8" ng-if="userData.entityData">
            <h1 class="page-header">{{userData.userType === 1 ? 'Información del Comercio' : 'Información del Proveedor'}}</span></h1>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info" ng-repeat="item in userData.entityArrayData">
                    <label>{{item.fieldName}}:</label><span class="perfil-data">{{proccessDataForView(item)}}</span>
                </li>
            </ul>
            <div class="row text-center">
                <a href="/modificar-{{userData.userType === 1 ? 'comercio' : 'proveedor'}}" class="btn btn-default crear-comercio">
                    Editar datos <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-lg-8 col-md-8" ng-if="!userData.entityData">
            <h1 class="page-header">Ingresar datos de {{userData.userType === 1 ? 'Comercio' : 'Proveedor'}}</span></h1>
            <p class="text-center">Usted no ha ingresado los datos relacionados al {{userData.userType === 1 ? 'comercio' : 'proveedor'}}. Desea realizarlo ahora? Esto es una acción requerida para poder comenzar a operar con el stock.</p>
            <div class="row text-center">
                <a href="/alta-{{userData.userType === 1 ? 'comercio' : 'proveedor'}}" class="btn btn-default crear-comercio">
                    Ingresar datos <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </div>
</div>
