<div class="container panel-ingreso-container" ng-show="hasEntity">
    <span class="back-button">
      <a href="/panel"><i class="fa fa-chevron-left"></i> Volver</a>
    </span>

    <div class="col-md-1 col-sm-2"></div>

    <div class="col-md-8 col-sm-4" ng-show="productsArray.length">
        <h3 class="center-title">Stock</h3>
        <ul class="list-group product-result-list stock">
            <li class="list-group-item product-line">
                <span class="property-col-1 head-product-col">Nombre</span>
                <span class="property-col-2 head-product-col">Descripción</span>
                <span class="property-col-3 head-product-col">Código</span>
                <span class="property-col-4 head-product-col">Cantidad</span>
            </li>
            <li class="list-group-item product-line"
                ng-repeat="product in productsArray">
                <span class="property-col-1">{{product.Nombre}}</span>
                <span class="property-col-2">{{product.Descripcion}}</span>
                <span class="property-col-3">{{product.Codigo}}</span>
                <span class="property-col-4">{{product.Cantidad}}</span>
            </li>
        </ul>
    </div>

    <div class="col-md-8 col-sm-4" ng-show="productsArray.length == 0 && !loading">
        <h3 class="center-title">Stock</h3>
        <div class="alert alert-danger" role="alert">
            Actualmente usted no posee productos en su stock.
            Desea <a href="/ingreso">generar un ingreso</a>?
        </div>
    </div>

    <div class="col-md-2 col-sm-4"></div>
</div>
