.panel-ingreso-container, .alta-lista-container {
    .product-info {
        background-color: #eee;
        border-radius: 4px;
        padding: 10px;

        span {
            display: inline-block;

            &.prod-label-name {
              width: 60%;
            }

            &.prod-label-code {
              width: 20%;
            }

            &.delete-selected {
                cursor: pointer;
                width: 4%;
                float: right;
                margin-right: 10px;
            }
        }
    }

    ul.product-result-list {
        padding-top: 7px;

        li {
            min-height: 44px;
        }
        span.property-col-1, span.property-col-2,
        span.property-col-3, span.property-col-4 {
            vertical-align: top;
            display: inline-block;

            &.head-product-col {
              cursor: default;
              font-weight: bold;
            }
        }

        span.property-col-1 {
            width: 75%;
        }
        span.property-col-2 {
            width: 20%;
        }
        li.product-line:hover {
            cursor: pointer;
            background-color: #eee;
            border-color: #eee #eee #ddd;
        }
    }

    ul.product-result-list.egreso {
        span.property-col-1 {
            width: 65%;
        }
        span.property-col-2 {
            width: 15%;
        }
        span.property-col-3 {
            width: 15%;
        }
    }

    ul.product-result-list.stock {
        span.property-col-1 {
            width: 45%;
        }

        span.property-col-2 {
            width: 30%;
        }

        span.property-col-3 {
            width: 10%;
        }
        span.property-col-4 {
            width: 5%;
        }
    }
}
