<div class="container alta-lista-container">
    <span class="back-button">
      <a href="/panel"><i class="fa fa-chevron-left"></i> Volver</a>
    </span>
    <div class="col-md-2 col-sm-2"></div>
    <div class="card card-container comercio-container col-md-6 col-sm-6">
        <h3 class="center-title">Crear nueva Lista de Precios</h3>
        <form class="form-action" ng-hide="actionSuccess" name="newListaForm" novalidate>
            <input type="text"
                   class="form-control inputName"
                   name="listaName"
                   maxlength="50"
                   placeholder="Nombre (*)"
                   ng-model="dataValues.listaName"
                   required autofocus>

            <input type="date"
                   class="form-control inputName input-vencimiento"
                   name="listaVencimiento"
                   maxlength="50"
                   placeholder="Vencimiento"
                   ng-class="{ 'has-error' : newListaForm.listaVencimiento.$invalid && !newListaForm.listaVencimiento.$pristine }"
                   ng-model="dataValues.listaVencimiento"
                   autofocus>
            <label class="lista-vencmiento">Vencimiento</label>

            <button class="btn btn-lg btn-primary btn-block btn-action"
                    type="submit"
                    ng-disabled="newListaForm.$invalid"
                    ng-click="createLista(dataValues)">Crear</button>
        </form>
        <div ng-show="actionError" class="alert alert-danger" role="alert">
          <p ng-bind="responseMessage || 'Oops! Ocurrió al momento de modificar los datos del comercio. Por favor pongase en contacto con un administrador.'"></p>
        </div>
        <div ng-show="actionSuccess" class="alert alert-success" role="alert">
          <p>Su nueva lista de precios fue creada correctamente. <br> <a href="/modificar-lista/{{listaId}}" class="alert-link">Desea comenzar a cargarle precios</a>?</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-3"></div>
</div>
