.alta-lista-container {
    form.form-action {
        input.input-vencimiento {
            width: 48%;
            display: inline-block;
        }

        label.lista-vencmiento {
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
            width: 50%;
        }
    }
}
