<div class="container panel-listas-container" ng-show="hasEntity">
    <div class="row">
        <span class="back-button">
          <a href="/panel"><i class="fa fa-chevron-left"></i> Volver</a>
        </span>
    </div>

    <div class="col-md-1 col-sm-1"></div>

    <div class="col-md-10 col-sm-10" ng-show="listasArray.length">
        <h3 class="center-title">Listas de precios</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha creación</th>
                    <th>Fecha Vencimiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="lista in listasArray | orderBy: 'FechaCreacion':false">
                <td>{{lista.ListaPrecios.Nombre}}</td>
                <td>{{formatDate(lista.ListaPrecios.FechaCreacion)}}</td>
                <td>{{formatDate(lista.ListaPrecios.FechaVencimiento)}}</td>
                <td class="action-buttons">
                  <span>
                      <a href="modificar-lista/{{lista.ListaPreciosId}}"><i class="fa fa-pencil-square-o fa-lg"></i> Editar</a>
                  </span>
                  <br>
                  <span>
                      <a href="#" ng-click="deleteLista(lista.ListaPreciosId)"><i class="fa fa-times fa-lg"></i> Eliminar</a>
                  </span>
                </td>
              </tr>
            </tbody>
        </table>
        <div class="alert alert-danger" role="alert" ng-show="actionError">
            Ocurrió un error al intentas eliminar la lista.
        </div>
        <div class="alert alert-success" role="alert" ng-show="actionSuccess">
            La lista fue eliminada satisfactoriamente.
        </div>
    </div>

    <div class="col-md-8 col-sm-4" ng-show="listasArray.length == 0 && !loading">
        <div class="alert alert-danger" role="alert">
            Actualmente usted no posee listas existentes.
            Desea <a href="/alta-listas">crear una</a>?
        </div>
    </div>

    <div class="col-md-2 col-sm-4"></div>
</div>
