<div class="container alta-lista-container">
    <span class="back-button">
      <a href="/panel"><i class="fa fa-chevron-left"></i> Volver</a>
    </span>
    <div class="col-md-2 col-sm-2"></div>
    <div class="card card-container comercio-container col-md-6 col-sm-6">
        <h3 class="center-title">Crear nueva Lista de Precios</h3>
        <form class="form-action" ng-hide="actionSuccess" name="newListaForm" novalidate>
            <input type="text"
                   class="form-control inputName"
                   name="listaName"
                   maxlength="50"
                   placeholder="Nombre (*)"
                   ng-model="dataListaValues.listaName"
                   required autofocus>

            <input type="date"
                   class="form-control inputName"
                   name="listaVencimiento"
                   maxlength="50"
                   ng-change="hasChange = true"
                   placeholder="Vencimiento"
                   ng-class="{ 'has-error' : newListaForm.listaVencimiento.$invalid && !newListaForm.listaVencimiento.$pristine }"
                   ng-model="dataListaValues.listaVencimiento"
                   autofocus>

            <button class="btn btn-lg btn-primary btn-block btn-action"
                    type="submit"
                    ng-click="updateLista(dataListaValues)">Modificar</button>
        </form>
        <div ng-show="actionError" class="alert alert-danger" role="alert">
          <p ng-bind="responseMessage || 'Oops! Ocurrió al momento de modificar los datos del comercio. Por favor pongase en contacto con un administrador.'"></p>
        </div>
        <div ng-show="actionSuccess" class="alert alert-success" role="alert">
          <p>Su lista de precios fue modificada correctamente. <br> <a href="/modificar-lista/{{listaId}}" class="alert-link">Desea cargarle precios</a>?</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-3"></div>

    <div class="col-md-12 col-sm-4" ng-if="preciosArray.length">
        <h3 class="center-title">Lista de Precios</h3>
        <table class="table" >
            <thead>
                <tr>
                    <th>Precio</th>
                    <th>Nombre Producto</th>
                    <th>Nombre Codigo</th>
                    <th>Fecha Actualización</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="precio in preciosArray | orderBy: 'Fecha':false" ng-if="preciosArray.length">
                    <td>$ {{precio.Precio.Precio}}</td>
                    <td>{{precio.Producto.Nombre}}</td>
                    <td>{{precio.Producto.Codigo}}</td>
                    <td>{{formatDate(precio.Precio.FechaActualizacion)}}</td>
                    <td class="action-buttons">
                      <span>
                          <a href="#" ng-click="deletePrecio(precio.Precio.Id)"><i class="fa fa-times fa-lg"></i> Eliminar</a>
                      </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="actionPrecioError" class="alert alert-danger" role="alert">
          <p ng-bind="responseMessage"></p>
        </div>
        <div ng-show="actionPrecioSuccess" class="alert alert-success" role="alert">
          <p ng-bind="actionPrecioMessage"></p>
        </div>
    </div>
    <div class="col-md-12 col-sm-4" style="margin-top: 20px;">
        <h3 class="center-title">Agregar precio</h3>
        <div class="card card-container product-container col-md-5 col-sm-8">
            <h4 class="center-title">Buscar producto</h4>
            <form class="form-action" ng-hide="actionSuccess" name="newPrecioForm" novalidate>
                <input type="text"
                      class="form-control inputName"
                      name="productName"
                      placeholder="Buscar producto por Nombre o Código"
                      ng-class="{ 'has-error' : newPrecioForm.productName.$invalid && !newPrecioForm.productName.$pristine }"
                      ng-model="dataValues.productName.$"
                      ng-hide="productSelected"
                      required>

                <div class="product-info" ng-show="productSelected">
                    <span class="prod-label-name">{{productObjSelected.Nombre}}</span>
                    <span class="prod-label-code">{{productObjSelected.Codigo}}</span>
                    <span class="delete-selected" ng-click="deleteSelected()">
                        <i class="fa fa-times fa-lg"></i>
                    </span>
                </div>

                <input type="number"
                      class="form-control inputName"
                      name="ingresoProductPrice"
                      placeholder="Precio"
                      ng-class="{ 'has-error' : newPrecioForm.ingresoProductPrice.$invalid && !newPrecioForm.ingresoProductPrice.$pristine }"
                      ng-model="dataValues.precio"
                      required>

                <button class="btn btn-lg btn-primary btn-block btn-action"
                        type="submit"
                        ng-disabled="newPrecioForm.$invalid || !productSelected"
                        ng-click="createPrecio(dataValues)">Crear</button>
            </form>
        </div>
        <div class="col-md-6 col-sm-4" ng-show="dataValues.productName.$.length > 1 && !productSelected">
            <h4 class="center-title">Seleccionar producto</h4>
            <ul class="list-group product-result-list">
                <li class="list-group-item product-line">
                    <span class="property-col-1 head-product-col">Nombre</span>
                    <span class="property-col-2 head-product-col">Codigo</span>
                </li>
                <li class="list-group-item product-line"
                    ng-repeat="product in productsArray | filter:dataValues.productName"
                    ng-click="selectProduct(product)">
                    <span class="property-col-1">{{product.Nombre}}</span>
                    <span class="property-col-2">{{product.Codigo}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
