<div class="container alta-proveedor-container">
    <div class="col-md-3 col-sm-3"></div>
    <div class="card card-container proveedor-container col-md-6 col-sm-6">
        <h3 class="center-title">Modificar datos del proveedor</h3>
        <form class="form-action" ng-hide="actionSuccess" name="newProveedorForm" novalidate>
            <input type="text"
                   class="form-control inputName"
                   name="proveedorContactName"
                   maxlength="30"
                   placeholder="Nombre de Contacto"
                   ng-class="{ 'has-error' : newProveedorForm.proveedorContactName.$invalid && !newProveedorForm.proveedorContactName.$pristine }"
                   ng-model="dataValues.proveedorContactName"
                   ng-pattern="/^(\D)+$/"
                   autofocus>
            <p ng-show="newProveedorForm.proveedorContactName.$error.pattern" class="help-block-error">Por favor ingrese un nombre valido.</p>

            <input type="email"
                  class="form-control inputEmail"
                  name="proveedorEmail"
                  maxlength="50"
                  placeholder="Email del proveedor (*)"
                  ng-class="{ 'has-error' : newProveedorForm.proveedorEmail.$invalid && !newProveedorForm.proveedorEmail.$pristine }"
                  ng-model="dataValues.proveedorEmail"
                  required>
            <p ng-show="newProveedorForm.proveedorEmail.$invalid && !newProveedorForm.proveedorEmail.$pristine" class="help-block-error">Ingrese un email valido.</p>

            <select ng-model="dataValues.proveedorPreferenciaPago"
                    name="proveedorPreferenciaPago"
                    class="form-control inputPaymentPreference"
                    required>
                <option value="0">Seleccionar preferencia de pago</option>
                <option value="1">Efectivo</option>
                <option value="2">Deposito / Transferencia</option>
                <option value="3">Cheque</option>
                <option value="4">Otro</option>
            </select>

            <input type="number"
                  class="form-control inputName"
                  name="proveedorPedidoMinimo"
                  maxlength="50"
                  placeholder="Pedido minimo en ($)Pesos"
                  ng-model="dataValues.proveedorPedidoMinimo">

            <input type="text"
                  class="form-control inputName"
                  name="proveedorTelefono"
                  maxlength="40"
                  placeholder="Teléfono del proveedor"
                  ng-change="telefonoHasChange = true"
                  ng-class="{ 'has-error' : newProveedorForm.proveedorTelefono.$invalid && !newProveedorForm.proveedorTelefono.$pristine || (!validarTelefono(dataValues.proveedorTelefono) && telefonoHasChange)}"
                  ng-model="dataValues.proveedorTelefono">
            <p ng-show="(newProveedorForm.proveedorTelefono.$invalid && !newProveedorForm.proveedorTelefono.$pristine) || (!validarTelefono(dataValues.proveedorTelefono) && telefonoHasChange)" class="help-block-error">Ingrese un formato de telefono valido valido. Ejemplo: (11) 6534 4535</p>

            <button class="btn btn-lg btn-primary btn-block btn-action"
                    type="submit"
                    ng-disabled="newProveedorForm.$invalid || (!validarTelefono(dataValues.proveedorTelefono) && telefonoHasChange)"
                    ng-click="updateProveedor(dataValues)">Guardar</button>
        </form>
        <div ng-show="actionError" class="alert alert-danger" role="alert">
          <p ng-bind="responseMessage || 'Oops! Ocurrió al momento de modificar los datos del proveedor. Por favor pongase en contacto con un administrador.'"></p>
        </div>
        <div ng-show="actionSuccess" class="alert alert-success" role="alert">
          <p>Los datos del proveedor fueron guardados exitosamente. <a href="/perfil" class="alert-link">Desea volver al pefil</a>?</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-3"></div>
</div>
