<div class="container perfil-container">
    <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8">
            <h1 class="page-header">{{proveedorData.NombreContacto}} <span class="label label-success">Proveedor</span></h1>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <label>Email:</label><span class="perfil-data">{{proveedorData.Email}}</span>
                </li>
                <li class="list-group-item list-group-item-info">
                    <label>Preferencia de Pago:</label><span class="perfil-data">{{getPreferenciaPago(proveedorData.PreferenciaPago)}}</span>
                </li>
                <li class="list-group-item list-group-item-info">
                    <label>Pedido Minimo:</label><span class="perfil-data">$ {{proveedorData.PedidoMinimo}}</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-md-12 col-sm-12" ng-show="listasArray.length">
            <h2 class="center-title" style="margin-top: 20px;">Listas de {{proveedorData.NombreContacto}}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Lista nombre</th>
                        <th>Fecha creación</th>
                        <th>Fecha Vencimiento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="lista in listasArray | orderBy: 'FechaCreacion':false">
                    <td>{{lista.ListaPrecios.Nombre}}</td>
                    <td>{{formatDate(lista.ListaPrecios.FechaCreacion)}}</td>
                    <td>{{formatDate(lista.ListaPrecios.FechaVencimiento)}}</td>
                    <td class="action-buttons">
                      <span>
                          <a href="lista/{{lista.ListaPreciosId}}"><i class="fa fa-pencil-square-o fa-lg"></i> Ver</a>
                      </span>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
