<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Comerciantes - Proveedores</h1>
    <p class="lead">Mejores precios, sin perder tiempo</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>