<div class="container">
  <h3 ng-hide="successLogin" class="center-title">Iniciar Sesión</h3>
    <div class="col-md-4 col-sm-2"></div>
    <div class="card card-container login-container col-md-4 col-sm-8">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="assets/images/avatar.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form novalidate class="form-signin" ng-hide="successLogin" name="loginForm">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email"
                   class="form-control inputEmail"
                   name="email"
                   ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }"
                   placeholder="Email"
                   ng-model="dataValues.email"
                   required autofocus>
            <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block-error">Ingrese un email valido.</p>
            <input type="password"
                   name="password"
                   class="form-control inputPassword"
                   placeholder="Password"
                   ng-model="dataValues.password"
                   ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }"
                   required>
            <button class="btn btn-lg btn-primary btn-block btn-signin"
                    type="submit"
                    ng-click="login(dataValues)"
                    ng-disabled="loginForm.$invalid">Iniciar sesión</button>
        </form>
        <div ng-show="errorLogin" class="alert alert-danger" role="alert">
          <p ng-bind="responseMessage"></p>
        </div>
        <div ng-show="successLogin" class="alert alert-success" role="alert">
          <p>Bienvenido! Entrar a la <a href="/" class="alert-link">página principal</a> para comenzar.</p>
        </div>
        <!-- <a href="#" class="forgot-password">
            Olvidaste tu password?
        </a> -->
    </div>
    <div class="col-md-4 col-sm-2"></div>
</div>
